
        body{
            background-color:rgba(153, 153, 153, 0.781);
        }
        body h1{
            text-align: center;
            color: black;
        }

        #interface{
            margin: auto;
            width: 500px;
            height: 570px;
            border-radius: 5px;
            background-color: white;
        }
        #imagem{
            height: 50%;
        }
        #imagem img{
            width: 500px;
            height: 295px;
        }
        #pergunta h2{
            font-size: 17px;
        }
        #pergunta p{
            font-size: 15px;
        }
        #resposta{
            margin-top: 20px;
        }
        #correcao{
            color: white;
        }
        #botao{
            
        }
        
        /*#botao p{
            width: 60px;
            margin-left: 50px;
            padding: 5px;
            border: 5px white solid;
        }
        */
